body {
    background-color: rgb(15, 6, 6);
    margin-left: 5vw;
    text-align: center;
    margin-right: 5vw;
}

img {
    width: 90vw;
    margin-right: 30px;
    border-radius: 15px;
}

.titulo {
    color: rgb(50, 40, 59);
}

button {
    width: 10vw;
    height: 6vh;
    font-size: 70%;
    color: rgb(128, 128, 128);
    background-color: rgba(39, 17, 59, 0.349);
    border-radius: 15px;
    margin: 15px;
}

button:hover {
    transform: scale(110%);
    transition: 0.5s;
    background-color: rgba(53, 38, 68, 0);
}



.legenda {
    display: flex;
    color: rgb(121, 95, 85);
    justify-content: center;
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.384);
    height: 50px;
    margin-bottom: 25px;
    border-radius: 15px;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}