html, body {
    margin: 0%;
    background-color: rgb(15, 6, 6);
}

main {
    display: block;
}

.titulo {
    text-align: center;
    color: rgba(121, 95, 85, 0.575);
}

.img > img {
    width: 90vw;
    margin-right: 30px;
}

.img {
    margin-left: 5vw ;
}

.legenda {
    display: flex;
    color: rgba(121, 95, 85, 0.575);
    margin-left: 5vw;
    justify-content: center;
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.384);
    height: 50px;
    margin-right: 5vw;
    align-items: center;
}